@{
  Layout = "_Layout";
}

<div class="text-center">
    <h1>Welcome to Bonita's Bakery!</h1>
    <p>Please take a look at the treats!</p>
</div>
<br>
<div id="cat-image" class="text-center">
    <img src='~/img/cat.jpg' class="rounded mx-auto" alt="Coffee mug with 3 cat faces centered between a plant and a croissant" style="max-width: 400px;">
</div>
