@{
  Layout = "_Layout";
}
@using Bakery.Models;

<div class="text-center">
  <h1>Welcome to Bonita's Bakery!</h1>
  <div class="card">
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted">Family owned and operated since 2009</h6>
        <div id="cat-image" class="text-center">
        <img src='~/img/cat.jpg' class="rounded mx-auto" alt="Coffee mug with 3 cat faces centered between a plant and a croissant" style="max-width: 400px;">
        </div>
      <p class="text-success">Please take a look at our selection!</p>
      <a href="../../Flavors/Index" class="card-link">The Goods</a>
      <a href="../../Account/Login" class="card-link">Login</a>
    </div>
  </div>
</div>
<br>
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-danger" value="Log out" />
    }